@{
    ViewData["Title"] = "Anasayfa";
}

<div class="row  p-5 rounded align-items-center">
    <div class="col-md-6 text-center text-md-start">
        <h1 class="display-4"> E-Store'e    Hoşgeldiniz</h1>
        <p class="lead">En yeni elektronik ürünleri keşfedin. Uygun fiyatlar, hızlı teslimat <i class="bi bi-truck"></i></p>
        <a href="/Store" class="banner-btn btn btn-dark   btn-lg mt-3"> Alışverişe Başla</a>
    </div>

    <div class="col-md-6">
        <video autoplay muted loop class="herovedio w-100  ">
            <source src="~/videos/promo.mp4" type="video/mp4" />
            Tarayıcınız video etiketini desteklemiyor.
        </video>
    </div>
</div>
<br />
<br />
<br />
<section class="hero-section">
    <div class="overlay-gradient"></div>
    <div class="hero-content text-dark">
        <h1 class="display-4 fw-bold">Galaxy<br>S25 Ultra</h1>
        <p class="lead">
            8.000 TL ek takas desteği fırsatı ve tüm <br />kampanyalara ek uygulamaya özel <br />Galaxy SmartTag2 hediyesiyle
        </p>
        <a href="/Store/Details/5" class="banner-btn btn btn-dark px-4 py-2 ">Satın al</a>
    </div>
</section>


<section class="container mt-5">
    <h3 class="text-center mb-4 mb-5"><i class="bi bi-fire"></i> Popüler Ürünler</h3>
    <div class="row justify-content-center">

        <div class="col-md-3 text-center mb-4">
            <img src="/images/16pro.png" class="product-img img-fluid rounded " />
            <p class="mt-2 fw-bold">iPhone 16 Pro Max</p>
            <span class="text-muted">60.000 ₺</span>
        </div>

        <div class="col-md-3 text-center mb-4">
            <img src="/images/s25.jpeg" class="product-img img-fluid rounded " />
            <p class="mt-2 fw-bold">Samsung Galaxy S25</p>
            <span class="text-muted">45.000 ₺</span>
        </div>

        <div class="col-md-3 text-center mb-4">
            <img src="/images/airbuds2.jpeg" class="product-img img-fluid rounded " />
            <p class="mt-2 fw-bold">AirPods Pro 2</p>
            <span class="text-muted">6.500 ₺</span>
        </div>

        <div class="col-md-3 text-center mb-4">
            <img src="/images/16pro.png" class="product-img img-fluid rounded " />
            <p class="mt-2 fw-bold">iPhone 16 Pro Max</p>
            <span class="text-muted">60.000 ₺</span>
        </div>

    </div>
</section>
  
<section class=" text-dark border p-5 mt-5 text-center rounded">
    <div class="row">
        <div class="col-md-4">
            <h5><i class="bi bi-check-square"></i> Orijinal Ürünler</h5>
            <p>EMarket sadece %100 orijinal ürünler sunar.</p>
        </div>
        <div class="col-md-4">
            <h5><i class="bi bi-truck"></i> Hızlı Teslimat</h5>
            <p>24 saat içinde kargoya teslim garantisi.</p>
        </div>
        <div class="col-md-4">
            <h5><i class="bi bi-chat-right-text"></i> Canlı Destek</h5>
            <p>7/24 müşteri hizmetleri yanınızda.</p>
        </div>
    </div>
</section>
